html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    background-color: white;
    height: 600px;
    width: 600px;
    border: 10px solid gray;
    position: relative;
}

#snake-head {
    z-index: 1;
}

#snake-left-eye {
    background-color: white;
    border-radius: 10px;
    height: 10px;
    border: 0.1px solid black;
    width: 10px;
    position: absolute;
}

#snake-left-eye-pupil {
    background-color: black;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 10px;
}

#snake-right-eye {
    background-color: white;
    border-radius: 10px;
    height: 10px;
    border: 0.1px solid black;
    width: 10px;
    position: absolute;
}

#snake-right-eye-pupil {
    background-color: black;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 10px;
}

.snake-head-left {
    border-radius: 75% 0% 0% 75%;
}

.snake-head-right {
    border-radius: 0% 75% 75% 0%;
}

.snake-head-up {
    border-radius: 75% 75% 0% 0%;
}

.snake-head-down {
    border-radius: 0% 0% 75% 75%;
}

.snake-left-eye-left {
    bottom: 2px;
    left: 5px;
}

.snake-left-eye-pupil-left {
    left: 0.5px;
    top: 0.5px;
}

.snake-right-eye-left {
    top: 2px;
    left: 5px;
}

.snake-right-eye-pupil-left {
    left: 0.5px;
    bottom: 0.5px;
}

.snake-left-eye-right {
    top: 2px;
    right: 5px;
}

.snake-left-eye-pupil-right {
    bottom: 0.5px;
    right: 0.5px;
}

.snake-right-eye-right {
    bottom: 2px;
    right: 5px;
}

.snake-right-eye-pupil-right {
    top: 0.5px;
    right: 0.5px;
}

.snake-left-eye-up {
    top: 5px;
    left: 2px;
}

.snake-left-eye-pupil-up {
    top: 0.5px;
    right: 0.5px;
}

.snake-right-eye-up {
    top: 5px;
    right: 2px;
}

.snake-right-eye-pupil-up {
    top: 0.5px;
    left: 0.5px;
}

.snake-left-eye-down {
    bottom: 5px;
    right: 2px;
}

.snake-left-eye-pupil-down {
    bottom: 0.5px;
    left: 0.5px;
}

.snake-right-eye-down {
    bottom: 5px;
    left: 2px;
}

.snake-right-eye-pupil-down {
    bottom: 0.5px;
    right: 0.5px;
}

.snake-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: green;
    width: 40px;
    height: 40px;
}

/* .snake-body:nth-child(1),
.snake-body:nth-child(2),
.snake-body:nth-last-child(1),
.snake-body:nth-last-child(3) {
    transition-duration: 0ms;
} */

.snake-body-top-right-corner {
    border-radius: 0% 75% 0% 0%;
}

.snake-body-top-left-corner {
    border-radius: 75% 0% 0% 0%;
}

.snake-body-bottom-right-corner {
    border-radius: 0% 0% 75% 0%;
}

.snake-body-bottom-left-corner {
    border-radius: 0% 0% 0% 75%;
}

.snake-tail-left {
    border-radius: 50% 0% 0% 50%;
}

.snake-tail-right {
    border-radius: 0% 50% 50% 0%;
}

.snake-tail-up {
    border-radius: 50% 50% 0% 0%;
}

.snake-tail-down {
    border-radius: 0% 0% 50% 50%;
}

.dark-background-overlay {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: all 300ms ease-in-out;
}

#game-over-container,
#game-paused-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
}

#game-over-container p,
#game-paused-container p {
    font-size: 5rem;
    text-shadow: 0px 0px 15px #FFFFFF;
}

#game-start-container,
#game-settings-container {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

#game-start-container p,
#game-settings-container p {
    font-size: 5rem;
    color: white;
    text-shadow: 0px 0px 15px #FFFFFF;
}

#game-settings-container {
    display: none;
}

.apple {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 90% 90% 100% 100%;
}

.apple-bottom {
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 3px solid white;
}

.apple-top {
    position: absolute;
    bottom: 35px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 5.4px solid white;
}

.apple-stem {
    height: 7px;
    width: 3px;
    background-color: #581506;
    rotate: -10deg;
    top: 0.25px;
    position: absolute;
    left: 17px;
    ;
}

.apple-leaf {
    background-color: green;
    height: 6px;
    width: 6px;
    position: absolute;
    border-radius: 100% 0% 100% 0%;
    top: 2px;
    left: 18px;
}

#scoreboard {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#scoreboard p {
    font-size: 2rem;
    color: white;
}

label {
    color: white;
}

#game-pause-button {
    display: flex;
    justify-content: space-between;
    width: 30px;
    height: 37px;
    cursor: pointer;
}

#game-pause-button div {
    background-color: white;
    width: 10px;
}

.snake-body-left {
    animation: snake-body-left 1s linear forwards;
}

.snake-body-right {
    animation: snake-body-right 1s linear forwards;
}

.snake-body-up {
    animation: snake-body-up 1s linear forwards;
}

.snake-body-down {
    animation: snake-body-down 1s linear forwards;
}

.snake-corner-up-right {
    animation: snake-corner-up-right 1s linear forwards;
}

.snake-corner-left-down {
    animation: snake-corner-left-down 1s linear forwards;
}

.snake-corner-up-left {
    animation: snake-corner-up-left 1s linear forwards;
}

.snake-corner-right-down {
    animation: snake-corner-right-down 1s linear forwards;
}

.snake-corner-right-up {
    animation: snake-corner-right-up 1s linear forwards;
}

.snake-corner-down-left {
    animation: snake-corner-down-left 1s linear forwards;
}

.snake-corner-left-up {
    animation: snake-corner-left-up 1s linear forwards;
}

.snake-corner-down-right {
    animation: snake-corner-down-right 1s linear forwards;
}


@keyframes snake-corner-up-right {
    25% {
        transform: translate(0%, -33%);
    }

    50% {
        transform: translate(33%, -66%);
    }

    75% {
        transform: translate(66%, -100%);
    }

    100% {
        transform: translate(100%, -100%);
    }
}

@keyframes snake-corner-left-down {
    25% {
        transform: translate(-33%, 0%);
    }

    50% {
        transform: translate(-66%, 33%);
    }

    75% {
        transform: translate(-100%, 66%);
    }

    100% {
        transform: translate(-100%, 100%);
    }
}

@keyframes snake-corner-up-left {
    25% {
        transform: translate(0%, -33%);
    }

    50% {
        transform: translate(-33%, -66%);
    }

    75% {
        transform: translate(-66%, -100%);
    }

    100% {
        transform: translate(-100%, -100%);
    }
}

@keyframes snake-corner-right-down {
    25% {
        transform: translate(33%, 0%);
    }

    50% {
        transform: translate(66%, 33%);
    }

    75% {
        transform: translate(100%, 66%);
    }

    100% {
        transform: translate(100%, 100%);
    }
}

@keyframes snake-corner-right-up {
    25% {
        transform: translate(33%, 0%);
    }

    50% {
        transform: translate(66%, -33%);
    }

    75% {
        transform: translate(100%, -66%);
    }

    100% {
        transform: translate(100%, -100%);
    }
}

@keyframes snake-corner-down-left {
    25% {
        transform: translate(0%, 33%);
    }

    50% {
        transform: translate(-33%, 66%);
    }

    75% {
        transform: translate(-66%, 100%);
    }

    100% {
        transform: translate(-100%, 100%);
    }
}

@keyframes snake-corner-left-up {
    25% {
        transform: translate(-33%, -0%);
    }

    50% {
        transform: translate(-66%, -33%);
    }

    75% {
        transform: translate(-100%, -66%);
    }

    100% {
        transform: translate(-100%, -100%);
    }
}

@keyframes snake-corner-down-right {
    25% {
        transform: translate(0%, 33%);
    }

    50% {
        transform: translate(33%, 66%);
    }

    75% {
        transform: translate(66%, 100%);
    }

    100% {
        transform: translate(100%, 100%);
    }
}

@keyframes snake-body-left {
    100% {
        transform: translateX(-100%)
    }
}

@keyframes snake-body-right {
    100% {
        transform: translateX(100%)
    }
}

@keyframes snake-body-up {
    100% {
        transform: translateY(-100%)
    }
}

@keyframes snake-body-down {
    100% {
        transform: translateY(100%)
    }
}