html, 
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    background-color: white;
    height: 600px;
    width: 600px;
    border: 10px solid gray;
    position: relative;
}

#snake-head {
    top: 280px;
    left: 280px;
}
.snake-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 280px;
    left: 320px;
    background-color: green;
    width: 40px;
    height: 40px;
}

#dark-background-overlay {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: all 300ms ease-in-out;

}

#game-over-container {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
}

#game-over-container p {
    font-size: 5rem;
}
